.example-form {
  min-width: 400px;
  max-width: 900px;
  margin: auto;
  padding-top: 50px;
  width: 100%;
}
.example-form-hidden {
  min-width: 400px;
  max-width: 900px;
  margin: -35px auto auto;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
